<script type="text/javascript">
  {% if cart %}
    window.pn.cart = {};
  	window.pn.cart = {{cart | json}}
    window.pn.cart.items = [];

    {% for item in cart.items %}
      var cart_item = {{item | json}};
      cart_item["collection_ids"] = [];
      {% for c in item.product.collections %}
        cart_item["collection_ids"].push({{c.id}})
        {% endfor %}
      window.pn.cart.items.push(cart_item);
    {% endfor %}

    if (typeof window.pn.cart.items == "object") {
      for (var i=0; i<window.pn.cart.items.length; i++) {
        ["sku", "vendor", "url", "image", "handle", "product_type", "product_description"].map(function(a) {
          delete window.pn.cart.items[i][a]
        })
      }
    }
  {% endif %}
</script>

{% raw %}
<script>
if(typeof pn === "undefined"){
  pn = {};
}
if(typeof pn.settings === "undefined"){
  pn.settings = {};
}
pn.settings.defaultSetting={"id":16331640,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"default","n":null,"o":true,"handle":null,"p":null,"y":null,"q":true,"r":true,"s":null,"t":null,"u":2,"v":false,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"};
pn.settings.singleProductSettings=[{"id":17781711,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40133410357453","o":true,"handle":"cars-stickers","p":"6757018632397","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/392EE0BF-A266-4827-9A6A-5320A4A769E0.jpg?v=1645112472","q":true,"r":true,"s":-18,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":17855921,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40035813490893","o":true,"handle":"christmas-stickers","p":"6734561607885","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/IMG_1445.jpg?v=1645112442","q":true,"r":true,"s":170,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":17842941,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40173939261645","o":true,"handle":"hocus-pocus-stickers","p":"6765390594253","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/image_99072aa9-6f80-4e3f-801c-310e3ef138f7.jpg?v=1645112499","q":true,"r":true,"s":412,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":17476604,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40036556079309","o":true,"handle":"breast-cancer-awareness-bracelets","p":"6734655717581","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/funny-christmas-buttons_13615434.jpg?v=1645112455","q":true,"r":true,"s":48,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":17476602,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40036554113229","o":true,"handle":"breast-cancer-awareness-pens","p":"6734655291597","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/friends-in-the-fight-pink-ribbon-notepads_13847415.jpg?v=1645112454","q":true,"r":true,"s":48,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":17476603,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40036554113229","o":true,"handle":"breast-cancer-awareness-pens","p":"6734655291597","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/friends-in-the-fight-pink-ribbon-notepads_13847415.jpg?v=1645112454","q":true,"r":true,"s":48,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":17476598,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40036543627469","o":true,"handle":"mini-breast-cancer-awareness-pins","p":"6734654439629","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/mini-pink-ribbon-button-assortment_13952958.jpg?v=1645112453","q":true,"r":true,"s":8,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":17476597,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40036543627469","o":true,"handle":"mini-breast-cancer-awareness-pins","p":"6734654439629","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/mini-pink-ribbon-button-assortment_13952958.jpg?v=1645112453","q":true,"r":true,"s":8,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":17842927,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40035701817549","o":true,"handle":"stickers","p":"6734543945933","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/9F5ADA6E-1379-453C-8620-6F3F9BB7F02F.jpg?v=1645112440","q":true,"r":true,"s":409,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":17474148,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40035700342989","o":true,"handle":"hand-sanitizer-keychain-with-bottle","p":"6734543814861","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/50F13802-F268-42FF-9B54-D22EC51BBCA8.jpg?v=1645112436","q":true,"r":true,"s":59,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"},{"id":17474149,"a":"Preorder Now","b":true,"c":null,"d":"Out of stock","e":false,"f":"Only {{qty}} remaining","g":"","h":"below","i":false,"j":null,"k":null,"l":null,"m":"variant","n":"40035697950925","o":true,"handle":"mini-notebooks","p":"6734543618253","y":"https://cdn.shopify.com/s/files/1/0563/8029/3325/products/E40798C1-FD37-42F6-9DF1-E5D050464D0F_1_201_a.jpg?v=1645112433","q":true,"r":true,"s":20,"t":null,"u":2,"v":true,"w":"ribbon","tag":null,"x":null,"z":"no_discount","aa":"0.0","ab":0,"price":"0.0","compare_at_price":"0.0"}];
pn.settings.tagSettings=[];
</script>
<style type="text/css">
  .pn-original-subtotal{
    text-decoration: line-through;
    display:inline-block;
  }
  .pn-discounted-subtotal{
    font-weight:bold;
    margin-left:20px;
    display:inline-block;
    font-size: 1.3em;
  }

  .pn-line-item-original-price {
    text-decoration: line-through;
  }

  .pn-line-item-discounted-price {
    font-size: 1.2em;
    margin-left: 8px;
  }
</style>
{% endraw %}


<div id="pn-mixed-cart-warning" class="pn-modal">
  <div id="pn-mixed-cart-warning-content">
    <span id="pn-modal-close-btn">x</span>
    <h2 id="pn-mixed-cart-warning-title"></h2>
    <div id="pn-mixed-cart-warning-text"></div>
  </div>
</div>