{% comment %}
===============================
Modifying this file directly can cause problems with Wholesale Gorilla, and is not recommended.  
Do not delete unless Wholesale Gorilla has been uninstalled.
===============================
{% endcomment %}
<div id="custom-fields">
  {% for block in section.blocks %}
  {% case block.type %}
    {% comment %} Text field block {% endcomment %}
    {% when 'text_block' %}
      <div class="grid__item medium-up--one-half" {{ block.shopify_attributes }}>
        <label id="{{'customField_' | append: block.settings.text_input | md5 }}_label" for="{{ block.settings.text_input }}">
          {{ block.settings.text_input }}
        </label>
        <label
          id="{{ 'customField_' | append: block.settings.text_input | md5}}_label_error"
          for={{ block.settings.text_input }}
          class='wsg-hidden-label wsg-label-error'
          data-translation-selector="labelRequired"
        >
          Required
        </label>
        <input
          name="customField_{{ block.settings.text_input }}"
          type="text"
          value=""
          placeholder="{{ block.settings.text_input }}"
          class="full-width"
          {% if block.settings.isRequired == true %}
            required
          {% endif %} />
        </div>
    {% comment %} Phone number field block {% endcomment %}
    {% when 'phone_block' %}
      <div class="grid__item medium-up--one-half" {{ block.shopify_attributes }}>
        <label id="{{ 'customField_' | append: block.settings.phone_text_input | md5 }}_label" for="{{ block.settings.phone_text_input }}">
          {{ block.settings.phone_text_input }}
        </label>
        <label
          id="{{ 'customField_' | append: block.settings.phone_text_input | md5 }}_label_error"
          for="{{ block.settings.phone_text_input }}"
          class='wsg-hidden-label wsg-label-error'
          data-translation-selector="labelRequired"
        >Required</label>
        <input
          id="phone"
          name="customField_{{ block.settings.phone_text_input }}"
          value=""
          type="text"
          pattern="[0-9\-]*"
          placeholder="{{ block.settings.phone_text_input }}"
          class="full-width"
          {% if block.settings.isRequired == true %}
            required
          {% endif %} />
      </div>
    {% comment %} Textarea block {% endcomment %}
    {% when 'textarea_block' %}
       <div class="grid__item full-width-block" {{ block.shopify_attributes }}>
          <label id="{{ 'customField_' | append: block.settings.textarea_label | md5 }}_label" for="{{ block.settings.textarea }}">
            {{ block.settings.textarea_label }}
          </label>
          <label
            id="{{ 'customField_' | append: block.settings.textarea_label | md5 }}_label_error" 
            for="{{ block.settings.textarea }}"
            class='wsg-hidden-label wsg-label-error'
            data-translation-selector="labelRequired"
          >
            Required
          </label>
          <textarea
            name="customField_{{ block.settings.textarea_label }}"
            value=""
            placeholder="{{ block.settings.textarea_placeholder }}"
            class="full-width"
            {% if block.settings.isRequired == true %}
              required
            {% endif %}></textarea>
       </div>
    {% comment %} Terms field block {% endcomment %}
    {% when 'terms_block' %}
      <div class="grid__item full-width-block" {{ block.shopify_attributes }}>
        <div style="display: flex; align-items: center;">
          <input
            id="terms"
            type="checkbox"
            name="terms"
            value=""
            required />
         	<label id="terms_label" for="terms" class="richtext-label">{{ block.settings.terms }}</label>
        </div>
      </div>
    {% comment %} Marketing field block {% endcomment %}
    {% when 'marketing_opt_in_block' %}
      <div class="grid__item full-width-block" {{ block.shopify_attributes }}>
        <div style="display: flex; align-items: center;">
          <input
            type="checkbox"
            id="marketing_opt_in"
            name="marketing_opt_in"
            value=""
            {% if block.settings.isRequired == true %}
              required
            {% endif %} />
          <label id="marketing_opt_in_label" for="marketing_opt_in" class="richtext-label">
            {{ block.settings.marketing_opt_in }}
          </label>
        </div>
      </div>
    {% comment %} Upload file block {% endcomment %}
    {% when 'upload_file_block' %}
      <div class="grid__item full-width-block" {{ block.shopify_attributes }}>
        <div style="display: flex; align-items: center; flex-direction: column">
        <div class="upload_file_description">{{ block.settings.upload_file_description }}</div>
        <input
          id="file-upload-button"
          type='button'
          value="{{ block.settings.text_input }}"
               style="cursor: pointer; 
                      {% if block.settings.button_border_color != blank  %} 
                      	border: 1px solid {{ block.settings.button_border_color }};
                      {% endif %} 
                      background-color: {{ block.settings.button_color }}; 
                      color: {{ block.settings.button_text_color }}"/>
          <input
            hidden
            accept="text/plain,.csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,image/*,.pdf,.doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document"
            id="file"
            name="file"
            type="file"
            value=""
            class="full-width"
            placeholder="{{ block.settings.text_input }}"
            {% if block.settings.isRequired == true %}
              required
            {% endif %}/>
          <span id="file_label" data-translation-selector="fileUploadLabel">No file selected</span>
        </div>
      </div>

  {% endcase %}

  {% endfor %}
</div>

<style>
  #custom-fields {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    justify-content: space-between;
    gap: 4%;
  }

  .wsg-two-column{
    overflow: initial !important;
  }

  .wsg-element-margin-top{
    margin-top: 15px !important;
    display: inline-block;
  }

  #custom-fields .grid__item {
    margin-bottom: 9px;
    padding: 0;
  }

  #custom-fields .medium-up--one-half {
    width: 48%;
    max-width: 48%;
  }

  #custom-fields .grid__item input[type="checkbox"] {
    padding: 0 10px;
    height: auto;
  }

  #file {
    display: none;
  }

  .full-width-block {
    width: 100%;
    max-width: 100%;
  }

  .full-width {
    width: 100%;
    margin-bottom: 0 !important;
  }

  .richtext-label {
    margin-left: 10px;
  }

  .richtext-label {
    margin-bottom: 0
  }

  .richtext-label p {
    margin-bottom: 0;
    margin-top: 0;
  }

  .upload_file_description {
    width: 100%;
  }

  .upload_file_description > p {
    margin-bottom: 5px;
  }

  @media only screen and (max-width: 750px) {
    #custom-fields .medium-up--one-half,
    #custom-fields .full-width-block {
      width: 100%;
      max-width: 100%;
    }
    
  }
</style>

<script>
document.querySelector('#wsg-signup').addEventListener('click', (e) => {
  if (e.target.closest('#wsg-signup #file-upload-button')) {
    const file = document.querySelector('#file');
    file.click();
  }
});

document.querySelector('#wsg-signup').addEventListener('change', (e) => {
  if (e.target.closest('#wsg-signup #file')) {
    const label = document.getElementById("file_label");
    const defaultLabelText = (
      wsgData.translations.language !== 'english'
      && wsgData.translations.enable
      && wsgData.translations.languageJson
    )
      ? wsgData.translations.languageJson.text.signupLoginReset.fileUploadLabel
      : 'No file selected';

    const file = e.target.files[0];
    label.textContent = file && file.name ? file.name : defaultLabelText;
  }
});

var marketingOptIn = document.querySelector('#wsg-signup #marketing_opt_in');
if (marketingOptIn) {
document.querySelector('#wsg-signup').addEventListener('input', (e) => {
  if (marketingOptIn.checked == true) {
      marketingOptIn.setAttribute('value', true);
    } else {
      marketingOptIn.setAttribute('value', '');
    }
 });
}

var terms = document.querySelector('#wsg-signup #terms');
if (terms) {
  document.querySelector('#wsg-signup').addEventListener('input', (e) => {
    if (terms.checked == true){
      terms.setAttribute('value', true);
    } else {
      terms.setAttribute('value', '');
    }
  });
}

{% comment %}

$('#wsg-signup').on("click", "#file-upload-button", function(e){
  const file = $('#file');
  file.trigger('click');
})
$('#wsg-signup').on("change", "#file", function(e){
  const label = document.getElementById("file_label");
  const defaultLabelText = wsgData.translations.language !== 'english'
    ? wsgData.translations.languageJson.text.signupLoginReset.fileUploadLabel
    : 'No file selected';

  const file = e.target.files[0];
  label.textContent = file && file.name ? file.name : defaultLabelText;
})
$('#wsg-signup').on("input", '#marketing_opt_in', function(e){
  if ($(this).is(':checked')) {
    $(this).attr('value', true);
  } else {
    $(this).attr('value', '');
  }
})
$('#wsg-signup').on("input", '#terms',function(e){
  if ($(this).is(':checked')) {
    $(this).attr('value', true);
  } else {
    $(this).attr('value', '');
  }
})

{% endcomment %}
</script>

{% schema %}
{
  "name": {
    "en": "Custom Fields",
    "ru": "#ru_Custom Fields",
    "es": "#es_Custom Fields",
    "pt": "#pt_Custom Fields",
    "no": "#no_Custom Fields",
    "it": "#it_Custom Fields",
    "hu": "#hu_Custom Fields",
    "he": "#he_Custom Fields",
    "el": "#el_Custom Fields",
    "de": "#de_Custom Fields",
    "fr": "#fr_Custom Fields",
    "fi": "#fi_Custom Fields",
    "nl": "#nl_Custom Fields"
  },
  "settings": [],
  "blocks": [
    {
      "type": "text_block",
      "name": {
        "en": "Text Input",
        "ru": "#ru_Text Input",
        "es": "#es_Text Input",
        "pt": "#pt_Text Input",
        "no": "#no_Text Input",
        "it": "#it_Text Input",
        "hu": "#hu_Text Input",
        "he": "#he_Text Input",
        "el": "#el_Text Input",
        "de": "#de_Text Input",
        "fr": "#fr_Text Input",
        "fi": "#fi_Text Input",
        "nl": "#nl_Text Input"
      },
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "en": "Add a single-line text input to the form.",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        },
        {
          "type": "text",
          "id": "text_input",
          "label": {
            "en": "Field Label",
            "ru": "#ru_Field Label",
            "es": "#es_Field Label",
            "pt": "#pt_Field Label",
            "no": "#no_Field Label",
            "it": "#it_Field Label",
            "hu": "#hu_Field Label",
            "he": "#he_Field Label",
            "el": "#el_Field Label",
            "de": "#de_Field Label",
            "fr": "#fr_Field Label",
            "fi": "#fi_Field Label",
            "nl": "#nl_Field Label"
          },
          "default": {
            "en": "Custom Wholesale Form Field",
            "ru": "#ru_Custom Wholesale Form Field",
            "es": "#es_Custom Wholesale Form Field",
            "pt": "#pt_Custom Wholesale Form Field",
            "no": "#no_Custom Wholesale Form Field",
            "it": "#it_Custom Wholesale Form Field",
            "hu": "#hu_Custom Wholesale Form Field",
            "he": "#he_Custom Wholesale Form Field",
            "el": "#el_Custom Wholesale Form Field",
            "de": "#de_Custom Wholesale Form Field",
            "fr": "#fr_Custom Wholesale Form Field",
            "fi": "#fi_Custom Wholesale Form Field",
            "nl": "#nl_Custom Wholesale Form Field"
          }
        },
        {
          "type": "checkbox",
          "id": "isRequired",
          "label": {
            "en": "Required",
            "ru": "#ru_Required",
            "es": "#es_Required",
            "pt": "#pt_Required",
            "no": "#no_Required",
            "it": "#it_Required",
            "hu": "#hu_Required",
            "he": "#he_Required",
            "el": "#el_Required",
            "de": "#de_Required",
            "fr": "#fr_Required",
            "fi": "#fi_Required",
            "nl": "#nl_Required"
          },
          "default": false,
          "info" : {
            "en": "Checking this box will require users to enter text into this input in order to submit the registration form.",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        }
      ]
    },
    {
      "type": "phone_block",
      "limit": 1,
      "name": {
        "en": "Phone",
        "ru": "#ru_Phone",
        "es": "#es_Phone",
        "pt": "#pt_Phone",
        "no": "#no_Phone",
        "it": "#it_Phone",
        "hu": "#hu_Phone",
        "he": "#he_Phone",
        "el": "#el_Phone",
        "de": "#de_Phone",
        "fr": "#fr_Phone",
        "fi": "#fi_Phone",
        "nl": "#nl_Phone"
      },
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "en": "Add a phone number input to the registration form.  Requires the user to enter a valid phone number into this field.",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        },
        {
          "type": "text",
          "id": "phone_text_input",
          "label": {
            "en": "Field Label",
            "ru": "#ru_Field Label",
            "es": "#es_Field Label",
            "pt": "#pt_Field Label",
            "no": "#no_Field Label",
            "it": "#it_Field Label",
            "hu": "#hu_Field Label",
            "he": "#he_Field Label",
            "el": "#el_Field Label",
            "de": "#de_Field Label",
            "fr": "#fr_Field Label",
            "fi": "#fi_Field Label",
            "nl": "#nl_Field Label"
          },
          "default": {
            "en": "Custom Wholesale Form Field",
            "ru": "#ru_Custom Wholesale Form Field",
            "es": "#es_Custom Wholesale Form Field",
            "pt": "#pt_Custom Wholesale Form Field",
            "no": "#no_Custom Wholesale Form Field",
            "it": "#it_Custom Wholesale Form Field",
            "hu": "#hu_Custom Wholesale Form Field",
            "he": "#he_Custom Wholesale Form Field",
            "el": "#el_Custom Wholesale Form Field",
            "de": "#de_Custom Wholesale Form Field",
            "fr": "#fr_Custom Wholesale Form Field",
            "fi": "#fi_Custom Wholesale Form Field",
            "nl": "#nl_Custom Wholesale Form Field"
          }
        },
        {
          "type": "checkbox",
          "id": "isRequired",
          "label": {
            "en": "Required",
            "ru": "#ru_Required",
            "es": "#es_Required",
            "pt": "#pt_Required",
            "no": "#no_Required",
            "it": "#it_Required",
            "hu": "#hu_Required",
            "he": "#he_Required",
            "el": "#el_Required",
            "de": "#de_Required",
            "fr": "#fr_Required",
            "fi": "#fi_Required",
            "nl": "#nl_Required"
          },
          "default": false,
          "info" : {
            "en": "Checking this box will require users to enter a phone number into this input in order to submit the registration form.",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        }
      ]
    },
    {
      "type": "textarea_block",
      "name": {
        "en": "Multi-line text area",
        "ru": "#ru_Multi-line text area",
        "es": "#es_Multi-line text area",
        "pt": "#pt_Multi-line text area",
        "no": "#no_Multi-line text area",
        "it": "#it_Multi-line text area",
        "hu": "#hu_Multi-line text area",
        "he": "#he_Multi-line text area",
        "el": "#el_Multi-line text area",
        "de": "#de_Multi-line text area",
        "fr": "#fr_Multi-line text area",
        "fi": "#fi_Multi-line text area",
        "nl": "#nl_Multi-line text area"
      },
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "en": "Add a multi-line or text-area input to the registration form.",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        },
        {
          "type": "text",
          "id": "textarea_label",
          "label": {
            "en": "Field label",
            "ru": "#ru_Field label",
            "es": "#es_Field label",
            "pt": "#pt_Field label",
            "no": "#no_Field label",
            "it": "#it_Field label",
            "hu": "#hu_Field label",
            "he": "#he_Field label",
            "el": "#el_Field label",
            "de": "#de_Field label",
            "fr": "#fr_Field label",
            "fi": "#fi_Field label",
            "nl": "#nl_Field label"
          },
          "default": {
            "en": "Custom Wholesale Form Field",
            "ru": "#ru_Custom Wholesale Form Field",
            "es": "#es_Custom Wholesale Form Field",
            "pt": "#pt_Custom Wholesale Form Field",
            "no": "#no_Custom Wholesale Form Field",
            "it": "#it_Custom Wholesale Form Field",
            "hu": "#hu_Custom Wholesale Form Field",
            "he": "#he_Custom Wholesale Form Field",
            "el": "#el_Custom Wholesale Form Field",
            "de": "#de_Custom Wholesale Form Field",
            "fr": "#fr_Custom Wholesale Form Field",
            "fi": "#fi_Custom Wholesale Form Field",
            "nl": "#nl_Custom Wholesale Form Field"
          }
        },
        {
          "type": "text",
          "id": "textarea_placeholder",
          "label": {
            "en": "Placeholder",
            "ru": "#ru_Placeholder",
            "es": "#es_Placeholder",
            "pt": "#pt_Placeholder",
            "no": "#no_Placeholder",
            "it": "#it_Placeholder",
            "hu": "#hu_Placeholder",
            "he": "#he_Placeholder",
            "el": "#el_Placeholder",
            "de": "#de_Placeholder",
            "fr": "#fr_Placeholder",
            "fi": "#fi_Placeholder",
            "nl": "#nl_Placeholder"
          },
          "default": {
            "en": "Custom Wholesale Form Field",
            "ru": "#ru_Custom Wholesale Form Field",
            "es": "#es_Custom Wholesale Form Field",
            "pt": "#pt_Custom Wholesale Form Field",
            "no": "#no_Custom Wholesale Form Field",
            "it": "#it_Custom Wholesale Form Field",
            "hu": "#hu_Custom Wholesale Form Field",
            "he": "#he_Custom Wholesale Form Field",
            "el": "#el_Custom Wholesale Form Field",
            "de": "#de_Custom Wholesale Form Field",
            "fr": "#fr_Custom Wholesale Form Field",
            "fi": "#fi_Custom Wholesale Form Field",
            "nl": "#nl_Custom Wholesale Form Field"
          }
        },
        {
          "type": "checkbox",
          "id": "isRequired",
          "label": {
            "en": "Required",
            "ru": "#ru_Required",
            "es": "#es_Required",
            "pt": "#pt_Required",
            "no": "#no_Required",
            "it": "#it_Required",
            "hu": "#hu_Required",
            "he": "#he_Required",
            "el": "#el_Required",
            "de": "#de_Required",
            "fr": "#fr_Required",
            "fi": "#fi_Required",
            "nl": "#nl_Required"
          },
          "default": false,
          "info" : {
            "en": "Checking this box will require users to enter text into this input in order to submit the registration form.",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        }
      ]
    },
    {
      "type": "terms_block",
      "limit": 1,
      "name": {
        "en": "Terms & Conditions",
        "ru": "#ru_Terms & Conditions",
        "es": "#es_Terms & Conditions",
        "pt": "#pt_Terms & Conditions",
        "no": "#no_Terms & Conditions",
        "it": "#it_Terms & Conditions",
        "hu": "#hu_Terms & Conditions",
        "he": "#he_Terms & Conditions",
        "el": "#el_Terms & Conditions",
        "de": "#de_Terms & Conditions",
        "fr": "#fr_Terms & Conditions",
        "fi": "#fi_Terms & Conditions",
        "nl": "#nl_Terms & Conditions"
      },
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "en": "Adds a terms and conditions checkbox to the registration form.  Users will be required to check this box in order to submit the form.",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        },
        {
          "type": "richtext",
          "id": "terms",
          "label": {
            "en": "Terms & Conditions Text",
            "ru": "#ru_Lorem ipsum",
            "es": "#es_Lorem ipsum",
            "pt": "#pt_Lorem ipsum",
            "no": "#no_Lorem ipsum",
            "it": "#it_Lorem ipsum",
            "hu": "#hu_Lorem ipsum",
            "he": "#he_Lorem ipsum",
            "el": "#el_Lorem ipsum",
            "de": "#de_Lorem ipsum",
            "fr": "#fr_Lorem ipsum",
            "fi": "#fi_Lorem ipsum",
            "nl": "#nl_Lorem ipsum"
          },
          "default": {
            "en": "<p>I accept the Terms and Conditions for this shop<p>",
            "ru": "<p>#ru_I accept the Terms and Conditions for this shop<p>",
            "es": "<p>#es_I accept the Terms and Conditions for this shop<p>",
            "pt": "<p>#pt_I accept the Terms and Conditions for this shop<p>",
            "no": "<p>#no_I accept the Terms and Conditions for this shop<p>",
            "it": "<p>#it_I accept the Terms and Conditions for this shop<p>",
            "hu": "<p>#hu_I accept the Terms and Conditions for this shop<p>",
            "he": "<p>#he_I accept the Terms and Conditions for this shop<p>",
            "el": "<p>#el_I accept the Terms and Conditions for this shop<p>",
            "de": "<p>#de_I accept the Terms and Conditions for this shop<p>",
            "fr": "<p>#fr_I accept the Terms and Conditions for this shop<p>",
            "fi": "<p>#fi_I accept the Terms and Conditions for this shop<p>",
            "nl": "<p>#nl_I accept the Terms and Conditions for this shop<p>"
          }
        }
      ]
    },
    {
      "type": "marketing_opt_in_block",
      "limit": 1,
      "name": {
        "en": "Marketing Opt-in",
        "ru": "#ru_Marketing Opt-in",
        "es": "#es_Marketing Opt-in",
        "pt": "#pt_Marketing Opt-in",
        "no": "#no_Marketing Opt-in",
        "it": "#it_Marketing Opt-in",
        "hu": "#hu_Marketing Opt-in",
        "he": "#he_Marketing Opt-in",
        "el": "#el_Marketing Opt-in",
        "de": "#de_Marketing Opt-in",
        "fr": "#fr_Marketing Opt-in",
        "fi": "#fi_Marketing Opt-in",
        "nl": "#nl_Marketing Opt-in"
      },
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "en": "Add a checkbox to the form that allows a user to select their marketing preferences.  If a user checks this box the 'Email Marketing Status' in their customer profile in Shopify will be set to: 'Customer agreed to receive marketing emails.'",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        },
        {
          "type": "richtext",
          "id": "marketing_opt_in",
          "label": {
            "en": "Marketing Opt-in text",
            "ru": "#ru_Lorem ipsum",
            "es": "#es_Lorem ipsum",
            "pt": "#pt_Lorem ipsum",
            "no": "#no_Lorem ipsum",
            "it": "#it_Lorem ipsum",
            "hu": "#hu_Lorem ipsum",
            "he": "#he_Lorem ipsum",
            "el": "#el_Lorem ipsum",
            "de": "#de_Lorem ipsum",
            "fr": "#fr_Lorem ipsum",
            "fi": "#fi_Lorem ipsum",
            "nl": "#nl_Lorem ipsum"
          },
          "default": {
            "en": "<p>Custom Wholesale Form Field<p>",
            "ru": "<p>#ru_Custom Wholesale Form Field<p>",
            "es": "<p>#es_Custom Wholesale Form Field<p>",
            "pt": "<p>#pt_Custom Wholesale Form Field<p>",
            "no": "<p>#no_Custom Wholesale Form Field<p>",
            "it": "<p>#it_Custom Wholesale Form Field<p>",
            "hu": "<p>#hu_Custom Wholesale Form Field<p>",
            "he": "<p>#he_Custom Wholesale Form Field<p>",
            "el": "<p>#el_Custom Wholesale Form Field<p>",
            "de": "<p>#de_Custom Wholesale Form Field<p>",
            "fr": "<p>#fr_Custom Wholesale Form Field<p>",
            "fi": "<p>#fi_Custom Wholesale Form Field<p>",
            "nl": "<p>#nl_Custom Wholesale Form Field<p>"
          }
        },
        {
          "type": "checkbox",
          "id": "isRequired",
          "label": {
            "en": "Required",
            "ru": "#ru_Required",
            "es": "#es_Required",
            "pt": "#pt_Required",
            "no": "#no_Required",
            "it": "#it_Required",
            "hu": "#hu_Required",
            "he": "#he_Required",
            "el": "#el_Required",
            "de": "#de_Required",
            "fr": "#fr_Required",
            "fi": "#fi_Required",
            "nl": "#nl_Required"
          },
          "default": false,
          "info" : {
            "en": "Checking this box will require users to opt-in to marketing in order to submit the registration form.",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        }
      ]
    },
    {
      "type": "upload_file_block",
      "limit": 1,
      "name": {
        "en": "Upload File",
        "ru": "#ru_Text Input",
        "es": "#es_Text Input",
        "pt": "#pt_Text Input",
        "no": "#no_Text Input",
        "it": "#it_Text Input",
        "hu": "#hu_Text Input",
        "he": "#he_Text Input",
        "el": "#el_Text Input",
        "de": "#de_Text Input",
        "fr": "#fr_Text Input",
        "fi": "#fi_Text Input",
        "nl": "#nl_Text Input"
      },
      "settings": [
        {
          "type": "paragraph",
          "content": {
            "en": "Add a file upload feature to the registration form.  Uploaded files can be retrieved by opening Wholesale Gorilla in your Shopify admin and clicking on the Customers section.",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        },
        {
          "type": "richtext",
          "id": "upload_file_description",
          "label": {
            "en": "Description",
            "ru": "#ru_Description",
            "es": "#es_Description",
            "pt": "#pt_Description",
            "no": "#no_Description",
            "it": "#it_Description",
            "hu": "#hu_Description",
            "he": "#he_Description",
            "el": "#el_Description",
            "de": "#de_Description",
            "fr": "#fr_Description",
            "fi": "#fi_Description",
            "nl": "#nl_Description"
          }
        },
        {
          "type": "text",
          "id": "text_input",
          "label": {
            "en": "Button Label",
            "ru": "#ru_Button Label",
            "es": "#es_Button Label",
            "pt": "#pt_Button Label",
            "no": "#no_Button Label",
            "it": "#it_Button Label",
            "hu": "#hu_Button Label",
            "he": "#he_Button Label",
            "el": "#el_Button Label",
            "de": "#de_Button Label",
            "fr": "#fr_Button Label",
            "fi": "#fi_Button Label",
            "nl": "#nl_Button Label"
          },
          "default": {
            "en": "Upload File",
            "ru": "#ru_Upload File",
            "es": "#es_Upload File",
            "pt": "#pt_Upload File",
            "no": "#no_Upload File",
            "it": "#it_Upload File",
            "hu": "#hu_Upload File",
            "he": "#he_Upload File",
            "el": "#el_Upload File",
            "de": "#de_Upload File",
            "fr": "#fr_Upload File",
            "fi": "#fi_Upload File",
            "nl": "#nl_Upload File"
          }
        },
        {
          "type": "color",
          "id": "button_color",
          "label": {
            "en": "Button color",
            "ru": "#ru_Button color",
            "es": "#es_Button color",
            "pt": "#pt_Button color",
            "no": "#no_Button color",
            "it": "#it_Button color",
            "hu": "#hu_Button color",
            "he": "#he_Button color",
            "el": "#el_Button color",
            "de": "#de_Button color",
            "fr": "#fr_Button color",
            "fi": "#fi_Button color",
            "nl": "#nl_Button color"
          }
        },
        {
          "type": "color",
          "id": "button_border_color",
          "label": {
            "en": "Button border color",
            "ru": "#ru_Button color",
            "es": "#es_Button color",
            "pt": "#pt_Button color",
            "no": "#no_Button color",
            "it": "#it_Button color",
            "hu": "#hu_Button color",
            "he": "#he_Button color",
            "el": "#el_Button color",
            "de": "#de_Button color",
            "fr": "#fr_Button color",
            "fi": "#fi_Button color",
            "nl": "#nl_Button color"
          }
        },
        {
          "type": "color",
          "id": "button_text_color",
          "default": "#000000",
          "label": {
            "en": "Button text color",
            "ru": "#ru_Button text color",
            "es": "#es_Button text color",
            "pt": "#pt_Button text color",
            "no": "#no_Button text color",
            "it": "#it_Button text color",
            "hu": "#hu_Button text color",
            "he": "#he_Button text color",
            "el": "#el_Button text color",
            "de": "#de_Button text color",
            "fr": "#fr_Button text color",
            "fi": "#fi_Button text color",
            "nl": "#nl_Button text color"
          }
        },
        {
          "type": "checkbox",
          "id": "isRequired",
          "label": {
            "en": "Required",
            "ru": "#ru_Required",
            "es": "#es_Required",
            "pt": "#pt_Required",
            "no": "#no_Required",
            "it": "#it_Required",
            "hu": "#hu_Required",
            "he": "#he_Required",
            "el": "#el_Required",
            "de": "#de_Required",
            "fr": "#fr_Required",
            "fi": "#fi_Required",
            "nl": "#nl_Required"
          },
          "default": false,
          "info" : {
            "en": "Checking this box will require users to upload a file in order to submit the registration form.",
            "ru": "#ru_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "es": "#es_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "pt": "#pt_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "no": "#no_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "it": "#it_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "hu": "#hu_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "he": "#he_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "el": "#el_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "de": "#de_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fr": "#fr_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "fi": "#fi_Lorem ipsum dolor sit amet, consectetur adipiscing elit",
            "nl": "#nl_Lorem ipsum dolor sit amet, consectetur adipiscing elit"
          }
        }
      ]
    }
  ],
  "presets": []
}
{% endschema %}
